body {
    line-height: $lh-body;
    
    @include media-breakpoint-only(xs) {
        font-size: $fs-body-xs;
    }
}

small, .small {
    display: inline-block;

    @include media-breakpoint-only(xs) {
        font-size: $fs-small-xs;
    }
}
p.small {
    @include media-breakpoint-only(xs) {
        margin-bottom: $fs-small-xs;
    }

    margin-bottom: $small-font-size;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p {
    @include media-breakpoint-only(xs) {
        margin-bottom: $fs-body-xs;
    }

    margin-bottom: $font-size-base;
}

h1, .h1 {
    line-height: $lh-h1;

    @include media-breakpoint-only(xs) {
        font-size: $fs-h1-xs;
        letter-spacing: $ls-h1-xs;
    }

    letter-spacing: $ls-h1;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    @include media-breakpoint-only(xs) {
        line-height: $lh-h2Up-xs;
    }
}

h2, .h2 {
    @include media-breakpoint-only(xs) {
        font-size: $fs-h2-xs;
        letter-spacing: $ls-h2-xs;
    }

    letter-spacing: $ls-h2;
}

h3, .h3 {
    @include media-breakpoint-only(xs) {
        font-size: $fs-h3-xs;
        letter-spacing: $ls-h3-xs;
    }

    letter-spacing: $ls-h3;
}

h4, .h4 {
    @include media-breakpoint-only(xs) {
        font-size: $fs-h4-xs;
    }
}

h5, .h5 {
    @include media-breakpoint-only(xs) {
        font-size: $fs-h5-xs; 
    }
}